<!--<button class="btn btn-primary"><a href="#/signUp" style="color:#ffffff" >SignUp</a></button>-->
<div class="container" >
    <div class="row" ng-controller="homePageController">
        <!--  <div class="col-md-6 iLinkBtn-green" ng-click="redirectTo(state.code)" ng-repeat="state in states">{{state.name}}</div>-->
         <div class="col-md-6 " ng-click="redirectTo(state.code)" ng-repeat="state in states"><div class="iLinkBtn-green">{{state.name}}</div></div>
       <!--  <div class="col-md-6" ng-click="redirectTo(state.code)" ng-repeat="state in states"><button class="btn btn-success"> {{state.name}}</button></div>-->
    </div>
</div>